<!DOCTYPE html>
 <html lang="en">

<head>
    <meta charset="UTF-8">

    <!-- {{! Handlebars }}
    <script src="https://cdnjs.cloudflare.com/ajax/libs/handlebars.js/4.0.11/handlebars.amd.js"></script> -->

    <!-- {{! Google Fonts }} -->
    <link href="https://fonts.googleapis.com/css?family=Pacifico|Oswald|Slabo 27px" rel="stylesheet">

    <!-- {{! Style Sheet }} -->
        <link href="./assets/css/style.css" rel="stylesheet" type = "text/css">
        
    <!-- {{!Title}} -->
        <title>Olive &amp; Thyme</title>

    <!-- Compiled and minified CSS -->
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/materialize/1.0.0-beta/css/materialize.min.css">

    <!-- Compiled and minified JavaScript -->
    <script src="https://cdnjs.cloudflare.com/ajax/libs/materialize/1.0.0-beta/js/materialize.min.js"></script>

</head>

<body>
    <div class="row">
            <div class="col m10 m5">
            <div class ="card-panel">
                <span class="optionButtons">
                    <a class="waves-effect waves-light btn "><i class="material-icons right"></i>Create a New Recipe</a>

                    <a class="waves-effect waves-light btn "><i class="material-icons right"></i>View Saved Recipes</a>

                    <a class="waves-effect waves-light btn "><i class="material-icons right"></i>Shopping List</a>

                    <a class="waves-effect waves-light btn "><i class="material-icons right"></i>Create a Category</a>
                </span>
            </div>
            </div>
    </div>
</body>
