<div class="container">
    <div class="row">
      <div class="col-md-6 offset-md-3">

        {{!-- Dynamically Insert Shopping List Items here --}}

        <ul class="list-group shopping-list">
          <li class="list-group-item new-item">
            <form id="shoppingList">
              <div class="container">
                <div class="row">
                    
                  <div class="col-10">
                    <input class="new-item form-control" placeholder="Add an item to your shopping list" type="text" />
                  </div>
                  <div class="col-2">
                    <button type="submit" class="btn btn-success">Add Item to Shopping List</button>
                  </div>
                </div>
              </div>
            </form>
          </li>
          <span class="container">
          </span>
        </ul>
      </div>
    </div>
  </div>